<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.helloworld.mapper.StudentMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyl.helloworld.entity.Student">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="points" property="points" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="num" property="num" />
        <result column="true_name" property="trueName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, password, points, email, phone, num, true_name
    </sql>

</mapper>
